@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== GLOBAL STYLES ===== */

@layer base {
  body {
    @apply font-manrope;
  }
}

@layer components {
 
  .gradient_text_color{
    @apply bg-gradient-to-r from-[#CD519D] to-[#7950F2] bg-clip-text text-transparent ;
  }
  .heading_h4_bold{
    @apply font-extrabold text-[2em] tracking-[0.2px];
  }
  .heading_h5_semibold{
    @apply font-semibold text-[1.5em] tracking-[0.18px] text-[#1D2125];
  }
  
  .label_1_regular{
    @apply font-normal text-[1em] tracking-[0.15px] text-[#38414A];
  }
  .label_2_regular{
    @apply font-normal text-[0.875em] tracking-[-0.16px] text-[#38414A];
  }
  .label_2_medium{
    @apply font-medium text-[0.875em] tracking-[-0.16px] text-[#1D2125];

  }
  /* button styles */
  .secondary_google_button {
    @apply rounded-[8px] border border-[#E9EAEC] w-full flex items-center justify-center gap-2 bg-[#F9FAFB] p-2 mt-7 font-semibold text-[1em] text-[#38414A];
  }

 .primary_button {
  @apply bg-[#7950F2] text-[#ffffff] font-bold cursor-pointer text-[1em] h-[3em] rounded-[8px] ;
 }
  .disabled_primary_button {
    @apply bg-[#7950F2] text-[#ffffff] font-bold cursor-pointer text-[1em] h-[3em] rounded-[8px] opacity-50;
  }
  .text_color{
    @apply text-[#38414A];
  }
  .primary_text_color{
    @apply text-[#1D2125];
  }
  .or_text{
    @apply text-[#6B7280] text-[14px] font-medium
  }
  .error_text{
    @apply text-[#DC2626] text-[0.875em] mt-1;
  }
  .input_box{
    @apply w-full rounded-md  border border-[#D1D5DB] h-[3.125em] focus:outline-none px-3 font-normal text-[1em] text-[#1D2125];
  }
} 

